target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.forge_settings
.wildfly/

.settings
.project
.classpath
nbproject/
build/
nbbuild/
dist/
nbdist/
out/
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

node/
node_modules/
